.border {
  border: 1px solid black;
}

.profiles {
  display: flex;
  justify-content: space-around;
  margin: 5vh;
  padding: 10px;
  background: whitesmoke;
  border-radius: 5px;
}

.profilepic {
  background: grey;
  margin: 2vh;
  border-radius: 5px;
}

.backgroundcolor {
  background: lightskyblue;
}

section {
  display: flex;
  flex-wrap: wrap;
}

body {
  margin: 10px;
}