section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

body {
  margin: 10px;
}

h1 {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
}

h2 {
  text-align: center;
  padding: 10px;
  background: whitesmoke;
}

p {
  margin: 3px;
  padding: 3px;
  text-align: center;
}

.centerlink{
  width: 100%;
  text-align: center;
}

.profiles {
  display: flex;
  justify-content: space-around;
  margin: 5vh;
  padding: 10px;
  background: whitesmoke;
  border-radius: 5px;
}

.profilepic {
  background: grey;
  margin: 2vh;
  border-radius: 5px;
}

.newsimage {
  display: block;
  margin: 10px auto;
  width: 50%;
}

.logo {
  display: block;
  margin: 10px auto;
  width: 50%;
  height: 50%;
}

.backgroundlightblue {
  background: lightskyblue;
}

.backgroundlightgrey {
  background: lightgrey;
}

.articles {
  display: flex;
  flex-direction: column;
  margin: 5vh;
  padding: 10px;
  background: whitesmoke;
  border-radius: 5px;
}

.centerlink {
  text-align: center;
}


